.image {
    width: 300px;
    margin: 10px;
    padding: 10px;
}

#fact {
    font-style: italic;
}

h3 {
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
}

span {
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

.first-border {
    border-width: 1px;
    border-style: ridge;
    border-color: silver;
    padding: 0;
    box-shadow: 10px 10px 5px 0px rgba(230, 230, 230, 1);
}

.second-border {
    border-width: 1px;
    border-style: ridge;
    border-color: silver;
    margin: 20px;
    padding: 10px;
}

body {
    margin: 25px;
}