.image {
    width: 300px;
}

#fact {
    font-style: italic;
}

h3 {
    font-weight: bold;
}

span {
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

.first-border {
    border-width: 1px;
    border-style: ridge;
    border-color: silver;
}

.second-border {
    border-width: 1px;
    border-style: ridge;
    border-color: silver;
    margin: 20px;
    padding: 10px;
}